---
import HomeCtaSection from "../components/home/HomeCtaSection.astro";
import HomeFaqSection from "../components/home/HomeFaqSection.astro";
import HomeFeaturesSection from "../components/home/HomeFeaturesSection.astro";
import HomeFooter from "../components/home/HomeFooter.astro";
import HomeHeroSection from "../components/home/HomeHeroSection.astro";
import HomePricingSection from "../components/home/HomePricingSection.astro";
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
---

<LandingPageLayout title="BuildDrop - App Distribution Reimagined">
  <main class="grow">
    <HomeHeroSection />
    <HomeFeaturesSection />
    <HomePricingSection />
    <HomeFaqSection />
    <HomeCtaSection />
  </main>
  <HomeFooter />
</LandingPageLayout>
